:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  --blue: #033bad;
  --gray: #54006F;
  --black: #000607;


  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square>div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary-color);
}

.checkoutBtn-container {
  margin: 2rem 0;
}

#checkoutBtn {
  background-color: var(--secondary-color);
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: var(--large-font);
  font-weight: 700;
  text-align: center;
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}
/* End cart icon styles */

/* Style for animating cart icon when item added */
.cart svg.animate {
  animation: product-added 0.3s infinite;
}

@keyframes product-added {
  0% { transform: translateY(0); }
  25% { transform: translateY(-4px) rotate(7deg); }
  50% { transform: translateY(0) rotate(0deg); }
  75% { transform: translateY(-4px) rotate(-7deg); }
}
/* End cart animation style */

/* Styles for superscript above cart backpack icon */
div.cart #superscript {
  background-color: var(--primary-color);
  color: var(--dark-grey);
  border-radius: 1rem;
  display: block;
  font-weight: 700;
  font-size: 10pt;
  padding: .1rem .3rem;
  position: absolute;
  right: -5px;
  top: 1rem;
}

/* End supercript styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

.products {
  padding: 0.5em;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Styles for products icons on homepage */
.product-icons {
  text-align: center;
}

.product-icons figure {
  width: 50vw;
  margin: 1rem auto;
}

.product-icons a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}


/* Styles for product discount on product detail page */
.product-card__price span {
  display: block;
  font-size: var(--small-font);
  margin-top: .5rem;
}

.product-card__price b {
  background-color: rgb(180, 0, 0);
  color: white;
  padding: .3rem;
  border-radius: 10px;
}

/* End styles for discount on detail page */

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card.divider {
  width: 85%;
  position: relative;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__quantity input {
  padding: .2rem;
  width: 2.5rem;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.cart-card__remove {
  background-color: darkred;
  color: white;
  box-shadow: 0 0 .5rem black;
  padding: 0 .7rem;
  border-radius: 1.5rem;
  position: absolute;
  right: -3rem;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }

  /* Styles for products icons on homepage in larger views */
  section.product-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
  }

  .product-icons img {
    height: 200px;
  }

  .product-icons figure {
    width: 100%;
  }

  /* Styles for checkout page */
  .checkout-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/*Style for Alerts*/
.alert-list {
  text-align: center;
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem;
}

.alert-list p {
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1px 0;
}

/* style for the total footer */
.cart-footer.hide {
  display: none;
}

.cart-footer {
  text-align: right;
  margin-right: 21%;
  display: block;
}


/* Breadcrumbs! */
.breadcrumb {
  background-color: var(--white-bg);
  width: max-content;
  position: relative;
  left: -30px;

  .products-number {
    background-color: white;
    color: black;
    font-weight: 700;
    padding: .35rem .4rem .3rem .3rem;
    border-radius: 20px;
    font-size: var(--small-font);
  }


  i.fa-angle-right {
    color: var(--black);
    font-weight: 200;
    line-height: 40px;
    margin-left: -5px;
    margin-right: -1px;
    background-color: var(--gray);

    &:last-of-type,
    &:nth-last-of-type(2) {
      display: none;
    }
  }

  li {
    display: inline-block;
    background-color: var(--black);
    margin-left: -10px;
    padding: 10px 0;
    height: 41px;

    &:first-child,
    &:only-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-of-type:not(:only-child) {
      background-color: var(--primary-color);

      & a {
        color: black;
        margin-left: 5px;
      }
    }

    &:last-of-type:not(:only-child)::after,
    &:last-of-type:not(:only-child)::before {
      content: "";
      position: absolute;
      top: 0;
      border: 20px solid transparent;
    }

    &:last-of-type:not(:only-child)::after {
      border-left: 15px solid var(--primary-color);
    }

    &:last-of-type:not(:only-child)::before {
      border-left: 15px solid var(--black);
    }

    & a {
      font-weight: 700;
      text-decoration: none;
      color: white;
      padding: 0 15px;
      margin-top: 5px;
    }

    & a:hover {
      text-shadow: 0 0 1px white, 0 0 1px white, 0 0 10px whitesmoke;
    }
  }
}

/* Styles for checkout form */
form {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;

  & input,
  & label {
    display: block;
    width: 100%;
  }

  & fieldset {
    margin-bottom: 1rem;
    border: 5px solid white;
  }

  & input {
    line-height: 1.5rem;
    font-size: 1rem;
    padding-left: 5px;
    margin-bottom: 1rem;
  }

  & legend,
  & label {
    font-size: 1.2rem;
    padding: 0 .5rem;
    font-weight: 700;
    color: white;
  }

  & legend {
    font-size: 1.5rem;
  }

  & input[type="submit"] {
    width: fit-content;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
  }
}

/* Styles for order summary */
#orderSummary {
  padding: 0.5em;
  
  & div {
    background-color: var(--primary-color);
    padding: 1rem 2.5rem;
    color: black;
    border-radius: 15px;

    & p {
      font-size: 1.5rem;
      margin: .9rem 0;
    }
  }
}

/* Styles for color swatch */
.color-swatch {
  padding: 0.1rem;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(104px, 1fr)); 
  gap: 1rem;

  & li {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: .4rem;
    align-items: center;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    cursor: pointer;

    & img {
      height: 2.5rem;
      width: auto;
    }
  }

  & li.selected {
    border: 2px solid var(--secondary-color);
    box-shadow: 1px 1px 10px var(--secondary-color);

    & img {
      border-radius: 5px;
    }
  }
}

img.selected-color {
  height: 7rem;
  width: auto;
  border: 4px solid var(--primary-color);
  border-radius: 2rem;
  padding: 1rem .8rem;
}

/* Style for success message */
.order-success {
  text-align: center;
  background-color: rgba(0, 255, 0, .2);
  padding: 2rem;
  margin: 2rem 1rem;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 20pt;
}

/* Style for alerts */
div.alerts {
  & p {
    position: relative;
    margin: .5rem;
    padding: 1rem;
    background-color: rgba(240, 168, 104, .5);
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
  }

  & span {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    margin-left: 1rem;
  }
}