:root {
    --font-body: Arial,Helvetica,sans-serif;
    --font-headline: Haettenschweiler,"Arial Narrow Bold",sans-serif;
    --primary-color: #f0a868;
    --secondary-color: #525b0f;
    --tertiary-color: #a4b8c4;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;
    --font-base: 18px;
    --small-font: .8em;
    --large-font: 1.2em
}

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-grey)
}

img {
    max-width: 100%
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px
}

.logo {
    line-height: 60px;
    width: 245px;
    overflow: hidden;
    display: flex;
    font-size: 30px;
    text-align: right;
    font-family: var(--font-headline)
}

.logo img {
    width: 60px;
    height: 60px
}

.logo a {
    text-decoration: none;
    color: var(--font-body)
}

.hero {
    position: relative
}

.hero .logo {
    position: absolute;
    left: calc(50% - 60px);
    bottom: -10px;
    background-color: #fff
}

.logo--square {
    font-size: var(--small-font);
    width: 110px;
    height: 80px;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 1px 1px 4px var(--light-grey);
    justify-content: center;
    align-items: center;
    line-height: 1
}

.logo--square img {
    width: 90px;
    height: 90px;
    margin-top: -1.3em
}

.logo--square>div {
    margin-top: -1.7em
}

.highlight {
    color: var(--tertiary-color)
}

.cart-total-badge {
    font-size: .8rem;
    position: absolute;
    top: 10px;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 50%
}

button {
    padding: .5em 2em;
    background-color: var(--secondary-color);
    color: #fff;
    margin: auto;
    display: block;
    border: 0;
    border-radius: .75rem;
    font-size: var(--large-font);
    cursor: pointer
}

button.enlarge {
    transition: .05s;
    transform: scale(1.05)
}

button.resume {
    transform: scale(1)
}

.divider {
    border-bottom: 2px solid var(--primary-color);
    width: 100%
}

.cart {
    padding-top: 1em;
    position: relative;
    text-align: center
}

#resize__icon svg {
    fill: orange;
    background: grey;
    outline: 10px solid grey;
    border-radius: .25rem;
    transition: .85s;
    transform: scale(2.15);
    margin-left: -100px;
    margin-bottom: -40px
}

#cart__icon svg {
    transition: 2.85s
}

.cart svg {
    width: 25px;
    background-color: rgba(40,79,51,0.914);
    outline: 10px solid rgba(40,79,51,.912);
    border-radius: .1rem;
    fill: antiquewhite
}

.cart:hover svg {
    fill: gray
}

.mission {
    padding: 0 .5em;
    line-height: 1.3;
    max-width: 600px;
    margin: auto
}

.products {
    padding: .5em
}

.product-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0
}

.product-list a {
    text-decoration: none;
    color: var(--dark-grey)
}

.product-card {
    flex: 1 1 45%;
    margin: .25em;
    padding: .5em;
    border: 1px solid var(--light-grey);
    max-width: 250px
}

.product-card h2,.product-card h3,.product-card p {
    margin: .5em 0
}

.product__color {
    display: flex;
    align-items: center;
    padding: 2px
}

.card__brand {
    font-size: var(--small-font)
}

.card__name {
    font-size: 1em
}

.product-detail {
    padding: 1em;
    max-width: 500px;
    margin: auto
}

ul.color__pick {
    display: flex;
    list-style: none
}

ul.color__pick>li {
    padding: 2px
}

#news-signup {
    width: 80%;
    max-width: 500px;
    margin: 2em auto;
    border: 1px solid #303030;
    border-radius: 6px
}

#submit {
    background-color: #f0a868;
    border-radius: 6px;
    color: #303030;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin-top: 1em
}

#submit:hover {
    border: none;
    background: rgba(0,0,0,.1);
    box-shadow: 0px 0px 1px #777
}

.newsletter-container {
    text-align: center;
    padding: 1em;
    max-width: 100%;
    margin: auto
}

.newsletter-fields input {
    padding: 1em;
    margin: .5em;
    max-width: 100%;
    padding: 1em
}

.newsletter-fields {
    display: grid
}

.cart-card {
    display: grid;
    grid-template-columns: 25% auto 15%;
    font-size: var(--small-font);
    align-items: center
}

.card__delete {
    padding-top: .5rem;
    max-width: 50px;
    grid-row: 1;
    grid-column: 1
}

.cart-card__image {
    grid-row: 2/3;
    grid-column: 1;
    margin-top: -8px
}

.cart-card .card__name {
    grid-row: 1;
    grid-column: 2;
    margin-left: -80px
}

.item-quantity {
    display: flex;
    align-items: center;
    border-top: 1px solid #303030;
    border-bottom: 1px solid #303030;
    margin: .5em
}

.item-quantity button {
    cursor: pointer;
    padding: 7px 10px;
    border-radius: none;
    font-size: smaller
}

.total-items {
    margin: .5em
}

.cart-card p {
    margin-top: 0
}

.cart-card__color {
    grid-row: 2;
    grid-column: 2
}

.cart-card__quantity {
    grid-row: 1;
    grid-column: 3
}

.cart-card__price {
    grid-row: 2;
    grid-column: 3
}

.cart-footer {
    display: grid;
    grid-template-columns: auto 25%
}

.hide {
    display: none
}

.cart-total {
    grid-column: 2
}

.product-categories {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style-type: none;
    max-width: 80%;
    margin: auto
}

.product-categories li {
    display: flex;
    flex-direction: column;
    align-items: center
}

.product-categories li a {
    width: 100%;
    text-decoration: none;
    color: #000;
    text-align: center
}

.product-card__discount,.base__discount {
    color: red;
    text-decoration: solid 3px underline;
    text-shadow: 1px 1px 10px white,1px 1px 10px white
}

.product-card__price {
    color: green;
    text-decoration: solid 3px underline;
    text-shadow: 1px 1px 10px var(--primary-color),1px 1px 10px #ffff00;
    margin-left: 6px
}

.container__origin-price {
    text-shadow: 1px 1px 10px white,-1px -1px 10px white;
    margin-left: 15px
}

.product-card__orginal-price,.base__orginal-price {
    text-decoration: line-through
}

div.pricing-container {
    border: 5px solid rgb(255,102,0);
    border-radius: .5rem;
    background-color: rgba(255,255,0,0.2);
    width: fit-content;
    padding: 0 1rem;
    margin-top: 20px
}

.descriptor-label {
    font-weight: 600
}

img#product-img {
    position: relative
}

div.flag-container {
    position: absolute;
    top: 25%;
    left: 30%
}

div.base_flag-container {
    margin-left: 120px;
    margin-top: -180px
}

img.discount-flag {
    position: relative;
    width: 100%
}

img.base_discount-flag {
    width: 100px
}

p.flag-amount {
    position: absolute;
    top: 9%;
    left: 27%;
    color: #fff;
    font-weight: 900;
    font-size: 1.75rem;
    text-align: center;
    line-height: 1.1
}

p.base_flag-amount {
    margin-left: 33px;
    margin-top: -78px;
    padding-bottom: 100px;
    color: #fff;
    font-weight: 700
}

button.details-btn {
    margin: -25px 6px 0 auto;
    padding: 3px 10px;
    font-size: .75rem
}

div.flag-container.pop-up {
    top: 47%;
    left: 38%
}

p.flag-amount.pop-up {
    top: 17%
}

img#product-img.pop-up {
    width: 50%;
    margin-left: 150px
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4)
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

button.cart-checkout {
    margin: 0 0 0 auto;
    padding-left: 6rem;
    padding-right: 6rem
}

button.cart-checkout:hover {
    cursor: pointer
}

a.checkout-button-link {
    text-decoration: none
}

#orderForm {
    max-width: 50%;
    min-width: 400px;
    margin: 2em auto
}

form fieldset,fieldset {
    margin: 2rem 0;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: .5rem 2%
}

form legend,legend {
    font-size: 1.5rem;
    color: rgba(40,79,51,0.914);
    background-color: rgba(240,168,104,0.502);
    border-radius: 1rem;
    margin: 0 1rem 1rem 1rem;
    padding: .25rem 1rem
}

form label.top,form div,label.top {
    display: block;
    padding-top: 1rem;
    color: var(--dark-grey);
    padding: 2px;
    font-size: .8rem
}

form label.top input,form label.top select,form label.top textarea,#myEmail,#myPassword {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #e3f0ff;
    margin-bottom: 1rem
}

form label.top input:required,label.top input:required#myPassword,label.top input:required#myEmail {
    border-left: red solid 6px
}

form label.top input:required:valid,label.top input:required:valid#myEmail,label.top input:required:valid#myPassword {
    border-left: green solid 6px
}

#top_line {
    width: 95%;
    max-width: 19.85rem;
    border-top: 2px solid var(--primary-color);
    margin: 0 0 1rem 2.75%
}

#send1 {
    margin: 0;
    padding-top: 1.95rem;
    padding-bottom: 1.95rem;
    display: inline;
    border-left: 2px solid var(--primary-color);
    border-radius: 1rem
}

#send2 {
    margin: 0;
    margin-left: 1%;
    padding-top: 1.95rem;
    padding-bottom: 1.95rem;
    display: inline;
    border-right: 2px solid var(--primary-color);
    border-radius: 1rem
}

#bottom_line {
    width: 95%;
    max-width: 19.85rem;
    border-top: 2px solid var(--primary-color);
    margin: 1.4rem 0 2rem 2.75%
}

p span.category {
    display: inline-block;
    width: 225px
}

fieldset hr {
    margin-left: 0;
    width: 325px
}

.popup-blur {
    z-index: 99;
    position: fixed;
    background-color: rgba(255,255,255,0.102);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    visibility: hidden;
    transition: .5s ease;
    transition-property: visibility
}

.popup-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.popup-blur.active .popup-screen.active {
    visibility: visible
}

.popup-box {
    position: relative;
    background: rgba(255,255,255,.8);
    backdrop-filter: blur(10px);
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 23px rgb(0 0 0 / 20%);
    transform: scale(0);
    transition: .5s ease;
    transition-property: transform
}

.popup-screen.active .popup-box,.popup-blur .popup-box {
    transform: scale(1)
}

.popup-box h2 {
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center
}

.popup-box p {
    font-size: 1em;
    margin-bottom: 30px
}

.popup-box .btn {
    color: #fff;
    background-color: #525b0f;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 27px;
    border-radius: 3px
}

.close-btn {
    position: absolute;
    font-size: 1em;
    top: 0;
    right: 0;
    margin: 15px;
    cursor: pointer;
    opacity: .5;
    transition: 1.3s ease;
    transition-property: opacity
}

.close-btn:hover {
    opacity: 1
}

p.alert {
    background-color: var(--primary-color);
    border: 1px solid orange;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    text-align: left;
    width: 500px;
    cursor: pointer;
    display: flex;
    justify-content: space-between
}

#admin-title {
    text-align: center;
    font-size: 3rem;
    background-color: var(--tertiary-color);
    color: #fff;
    border: 5px solid var(--dark-grey);
    padding: 20px
}

#background {
    background-color: var(--primary-color);
    border-top: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color)
}

#filler {
    background-color: #2196f3;
    background-color: rgba(240,168,104,0.502);
    border-left: 5px solid var(--secondary-color);
    border-right: 5px solid var(--secondary-color)
}

#order-title {
    text-align: center;
    background-color: var(--primary-color);
    border-top: 5px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color);
    padding: 10px
}

#orders {
    margin: 0 auto;
    outline: 5px solid var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-collapse: collapse
}

#orders th {
    background-color: var(--tertiary-color);
    background-color: #e3f0ff;
    background-color: var(--secondary-color);
    color: #fff;
    border: 2px solid var(--primary-color);
    padding: 5px
}

.order-list td {
    text-align: center;
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px
}

.order-list tr:nth-child(even) {
    background-color: var(--light-grey);
    background-color: #e3f0ff
}

.order-list tr:nth-child(odd) {
    background-color: var(--light-grey);
    background-color: #fff
}

#siteLogin {
    max-width: 350px;
    margin: auto
}

#comment-bttn-box {
    width: 100%;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    border-top: 2px solid var(--primary-color)
}

.topLine {
    border-top: 2px solid var(--primary-color)
}

#red-x {
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    color: red;
    font-size: 1.5rem;
    font-weight: 900;
    border: 5px groove red;
    border-radius: .25rem;
    cursor: pointer
}

#comment-label {
    width: 228px
}

.comment-line {
    width: 85%
}

[contenteditable]:focus {
    outline: 0px solid transparent
}

#orange-flex-container {
    display: flex
}

#comment,#postComment,#deleteComment {
    background-color: orange;
    padding: 8px
}

#postComment {
    background-color: #88c829;
    border: 1px solid black
}

#deleteComment {
    background-color: #ce4f4f;
    border: 1px solid black
}

#siteLogin button {
    margin: .5em auto
}

@media screen and (min-width: 500px) {
    body {
        max-width:1080px;
        margin: auto
    }

    .mission {
        font-size: 1.2em
    }

    .cart-card {
        font-size: inherit;
        grid-template-columns: 150px auto 15%
    }

    .popup-screen {
        width: 100%;
        height: 100vh
    }
}

footer {
    font-size: var(--small-font);
    padding: 1em
}

#searchBar {
    margin: auto 10px;
    height: 30px;
    width: 190px
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.product-listing-controls {
    display: flex;
    justify-content: space-between;
    margin: auto
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2dc230;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked+.slider {
    background-color: #2196f3
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px)
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.breadcrumbs {
    padding: 10px 18px;
    background-color: #eee;
    justify-content: center;
    text-align: center
}

.breadcrumbs>li {
    display: inline-block
}

.breadcrumbs>li>a {
    color: var(--dark-grey);
    text-decoration: none
}

.breadcrumbs>li>a:hover {
    text-decoration: underline;
    background-color: var(--primary-color);
    padding: .3em
}

.breadcrumbs li+li:before {
    padding: 4px;
    content: "/"
}

#send2 {
    margin-left: 2%
}

@keyframes tonext {
    75% {
        left: 0
    }

    95% {
        left: 100%
    }

    98% {
        left: 100%
    }

    99% {
        left: 0
    }
}

@keyframes tostart {
    75% {
        left: 0
    }

    95% {
        left: -300%
    }

    98% {
        left: -300%
    }

    99% {
        left: 0
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center
    }

    97% {
        scroll-snap-align: none
    }

    99% {
        scroll-snap-align: none
    }

    to {
        scroll-snap-align: center
    }
}

.product-img-container {
    max-width: 67.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: "Lato",sans-serif
}

.product-img-container * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px
}

*::-webkit-scrollbar {
    width: 0
}

*::-webkit-scrollbar-track {
    background: transparent
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none
}

* {
    -ms-overflow-style: none
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item
}

.carousel__slide:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name:tonext,snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite
    }

    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart,snap
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none
    }
}

.carousel:hover .carousel__snapper,.carousel:focus-within .carousel__snapper {
    animation-name: none
}

.carousel::before,.carousel::after,.carousel__prev,.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0
}

.carousel::before,.carousel__prev {
    left: -1rem
}

.carousel::after,.carousel__next {
    right: -1rem
}

.carousel::before,.carousel::after {
    content: "";
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none
}

.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E")
}

.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E")
}

@media screen and (min-width: 1080px) {
    .popup-screen {
        width:100%;
        height: 100vh
    }

    .popup-box {
        margin-right: 45%
    }
}
